.fluxCard{
    font-family: 'Gantari', sans-serif;
    background-image: linear-gradient(
    to top,
    var(--card-bg-from),
    var(--card-bg-mid),
    var(--card-bg-to)
  );
}

/* Light Mode */
:root {
  --card-bg-from: #a4b7f4;
  --card-bg-mid: #bcacfc;
  --card-bg-to: #f9fafb; 
}

/* Dark Mode */
.dark {
  --card-bg-from: #5b577378;
  --card-bg-mid:#977efc;
  --card-bg-to: #2b2b2b78;
}
