@import "tailwindcss";

/* Aplica à página inteira */
html, body {
  scrollbar-width: thin; /* Para Firefox */
  scrollbar-color: #888 #2A2A2A; /* thumb e track (Firefox) */
}

/* Para Chrome, Edge, Safari */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #2A2A2A;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #aaa;
}
