.productOverview{
    font-family: 'Gantari', sans-serif;
    background-image: linear-gradient(
    to top,
    var(--card-bg-from),
    var(--card-bg-mid)
  );
}


/* Light Mode */
:root {
  --card-bg-from: #a4b7f4;
  --card-bg-mid: #bcacfc;
  --buy-btn-normal: #4f46e5;
  --buy-btn-hover: #977efc;
}

/* Dark Mode */
.dark {
  --card-bg-from: #6366F1;
  --card-bg-mid:#977efc;
  --buy-btn-normal: #4f46e5;
  --buy-btn-hover: #977efc;
}