.accent {
  background-image: linear-gradient(
    to right,
    var(--accent-from),
    var(--accent-mid),
    var(--accent-to)
  );
}

.confirmBtn{
  background-color: rgba(176, 177, 248, 0.9)
}

/* Light Mode */
:root {
  --accent-from: #977efc;       
  --accent-mid:  #a4b7f4;        
  --accent-to:  #a4b7f4;
}

/* Dark Mode */
.dark {
  --accent-from:#977efc;          
  --accent-mid:#bcacfc;       
  --accent-to: #f9fafb;
}
